<div class="auth-wrapper">
  <div class="auth">
    <div class="auth__title">Вхід / Реєстрація</div>
    <form class="auth__forms" (ngSubmit)="submit()">
      <div class="w-forms">
        <span class="w-forms__title">І'мя</span>
        <input class="w-forms__input" placeholder="І'мя" type="text" name="name" />
      </div>
      <div class="w-forms">
        <span class="w-forms__title">Прізвище</span>
        <input class="w-forms__input" placeholder="Прізвище" type="text" name="name" />
      </div>
      <div class="w-forms">
        <span class="w-forms__title">Номер телефону</span>
        <input class="w-forms__input" placeholder="Номер телефону" type="text" name="Phone" />
      </div>
      <div class="w-forms">
        <span class="w-forms__title">Електронна адреса</span>
        <input class="w-forms__input" placeholder="Електронна адреса" type="text" name="email" />
      </div>
      <div class="w-forms">
        <span class="w-forms__title">Пароль</span>
        <div class="w-forms__input-block">
          <input class="w-forms__input" [type]="show_password && 'text' || 'password'" placeholder="Пароль"
            name="password" [(ngModel)]="user.password" #password />
          <span class="w-forms__toggle" (click)="show_password = !show_password">
            <i *ngIf="show_password" class="icon-visibility">visibility</i>
            <i *ngIf="!show_password">visibility_off</i>
          </span>
        </div>

        <span class="w-forms__level" [class._sky]="ui.level(user.password) === 1"
          [class._orange]="ui.level(user.password) === 2" [class._green]="ui.level(user.password) === 3">
          Level: {{ui.level(user.password)}}
        </span>
      </div>
      <div class="w-forms" *ngIf="reseting">
        <span class="w-forms__title">Code:</span>
        <input [(ngModel)]="user.code" class="w-forms__input" placeholder="Code" type="text" name="code" />
      </div>
      <div class="auth__btn">
        <button class="w-btn _primary" type="submit">Вхід</button>
      </div>
    </form>
  </div>
</div>
