<div class="project container w-card _pd">

  <div class="project__header w-card__header">
    <div>Нове замовлення</div>
  </div>
  <div class="project__body">
    <div class="w-forms">
      <span class="w-forms__title">Додати нове замовлення</span>

      <input class="w-forms__input" type="text" name="name" placeholder="Нове замовлення">

    </div>
    <div class="project__add">
      <button class="w-btn _danger"><span class="material-icons">note_add</span>Додати</button>
    </div>
  </div>
</div>
