@import 'angular';

:host {
  padding: 20px;
}

/*  project STYLE  */

.project {
  &__header {
    @include text-default(0, 23px, 500, 20px, var(--c-text-primary));
    @include flexBox(flex, null, space-between, center, null);
    border-radius: var(--b-radius);
  }

  &__add {
    display: flex;
    justify-content: end;

    .w-btn {
      margin: 0;
      @include flexBox(flex, null, space-between, center, null);
    }

    .material-icons {
      margin-right: 10px;
    }

  }
}
