<div class="profile container w-card _pd">
	<div class="profile__header w-card__header">
		<div>Профіль</div>
		<div>
			<div class="avatar _profile">
				<img class="avatar__img" width="50" height="50" [src]="us.user.thumb || 'assets/avatar.png'" alt="">
				<label class="avatar__upload" for="userAvatarUrl"><i class="material-icons avatar__icon">edit</i></label>
			</div>
		</div>
	</div>
	<div class="profile__body">

		<div class="w-forms">
			<span class="w-forms__title">І'мя</span>
			<input class="w-forms__input" type="text" name="name" placeholder="І'мя" [(ngModel)]="us.user.name" (ngModelChange)="us.update();">
		</div>
    <div class="w-forms">
			<span class="w-forms__title">Прізвище</span>
			<input class="w-forms__input" type="text" name="name" placeholder="Прізвище">
		</div>
		<div class="w-forms">
			<span class="w-forms__title">Номер телефону</span>
			<input class="w-forms__input" type="tel" name="number" placeholder="Phone number" [(ngModel)]="us.user.data['phone']" (ngModelChange)="us.update();">
		</div>
    <div class="w-forms">
			<span class="w-forms__title">Електронна адреса</span>
			<input class="w-forms__input" type="tel" name="mail" placeholder="Електронна адрес">
		</div>
    <div class="w-forms">
			<span class="w-forms__title">Назва закладу</span>
			<input class="w-forms__input" type="tel" name="mail" placeholder="Електронна адрес">
		</div>
    <div class="w-forms">
			<span class="w-forms__title">Адреса</span>
			<input class="w-forms__input" type="tel" name="mail" placeholder="Електронна адрес">
		</div>
    <div class="w-forms">
			<span class="w-forms__title">Дата регістрації</span>
			<input class="w-forms__input" type="tel" name="mail" placeholder="Електронна адрес">
		</div>
		<div class="w-forms">
			<span class="w-forms__title">Додаткова інформація</span>
			<textarea class="w-forms__textarea" placeholder="Додаткова інформація" [(ngModel)]="us.user.data['bio']" (ngModelChange)="us.update();"></textarea>
		</div>
		<div class="profile__footer">
			<div class="profile__logout">
				<button class="w-btn _danger" (click)="us.logout();"><span class="material-icons">logout</span>Вихід</button>
			</div>
			<div class="profile__password">
				<button class="w-btn _link" (click)="change_password()">Заміна пароля</button>
			</div>
		</div>

	</div>
</div>
